<head>
<style>
#pre code, #pre, #code {
  white-space: pre;
  overflow-x: scroll;
  word-break: keep-all;
  word-wrap: initial;
  margin-bottom: 15px;  
}


img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.content-holder {
  display: inline-block;
  vertical-align: middle;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    width: 75%;
}

body {
  font-size: 14pt;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

p {
  padding-bottom: 1em;
}

h2, .h2, h3, .h3, h4, .h4, h5, .h5 * {
  margin-top: 15px !important;
}


</style>
</head>