<head>
<style>
#pre code, #code, pre, pre code {
  white-space: pre !important;
  overflow-x: scroll !important;
  word-break: keep-all !important;
  word-wrap: initial !important;
}

img {
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;
  margin-bottom: 5px;
}

pre.r {
  border-radius: 1em;
  background-color: rgba(213, 213, 214, 0.28);
  border: none;
  margin-bottom: 2em;
}

/* code.r {
  overflow-x: auto;
  word-wrap: normal;
} */


.content-holder {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    width: 75%;
}

body {
  font-size: 14pt;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

p {
  padding-bottom: 1em;
}

h2, h3, h4, h5 {
  margin-top: .5em !important;
}

#multi {
  padding-top: .5em;
} 

</style>
</head>