<head>
<style>
#pre code, #code, pre {
  white-space: pre;
  overflow-x: scroll;
  word-break: keep-all;
  word-wrap: initial;
}

.reveal section code{
border-color:#000;
}

img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 5;
}

.content-holder {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    width: 75%;
}

body {
  font-size: 14pt;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

p {
  padding-bottom: 1em;
}

/* h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
/*   margin-top: 15px !important;
/* }
*/

h2, h3, h4, h5 {
  margin-top: 15px !important;
}

#multi {
  padding-top: 0;
} 

</style>
</head>